body { /* tudo que está contido em body apresentará as seguintes propriedades */
	background: rgb(255, 255, 255); /* troca a cor de fundo de body */
	font-family: 'Open Sans', sans-serif;
}

header{
	text-align: center; /* alinha todos os itens ao centro de body */
}

.ufabc{
	padding-top: 3vw;
    max-width: 8%; 
}

main{
	text-align: center; /* alinha todos os itens ao centro de body */
}

h1 {
	font-size: 4vw; /* ajusta o tamanho da fonte, vw é uma unidade responsiva para vários tamanhos de tela */
    margin-bottom: 1vw;
	font-weight: 600;
	color: rgb(197, 34, 6);
}

h2 {
	font-size: 2.5vw;
	padding-bottom: 3vw;
}

footer{
	font-size: 1vw;
	padding-top: 3vw;
	padding-bottom: 2vw;
	text-align: center;
	background-color: lightgrey;
}




h3 {
	font-size: 2vw;
	padding-bottom: 3vw;
	font-weight: 600;
}

.banner{
    max-width: 30%;
    margin-bottom: 5vw;
}


li {
    list-style-type: none;
    margin: 0 0 2vw 0;
	font-size: 1vw;
  }


a {
	text-decoration: none; /* retira o sublinhado do link */
	color: black;
}
