body { /* tudo que está contido em body apresentará as seguintes propriedades */
	background: rgb(255, 255, 255); /* troca a cor de fundo de body */
	font-family: 'Open Sans', sans-serif;
}

header{
	text-align: center; /* alinha todos os itens ao centro de body */
}

.ufabc{
	padding-top: 3vw;
    max-width: 7%; 
}

main{
	text-align: center; /* alinha todos os itens ao centro de body */
}

h1 {
	font-size: 4vw; /* ajusta o tamanho da fonte, vw é uma unidade responsiva para vários tamanhos de tela */
    margin-bottom: 1vw;
	font-weight: 600;
	color: rgb(197, 34, 6);
	padding-bottom: 1vw;
}

h2 {
	font-size: 2.5vw;
	padding-bottom: 2vw;
}

footer{
	font-size: 1vw;
	padding-top: 3vw;
	padding-bottom: 2vw;
	text-align: center;
	background-color: lightgrey;
}




h3 {
	font-size: 2vw;
	padding-top: 3vw;
	padding-bottom: 1vw;
	font-weight: 600;
}

.banner{
    max-width: 25%;
    margin-bottom: 3vw;
}

.avatar{
	max-width: 70vw;
}

.perfil{
	max-width: 15vw;
}

.resumo{
	font-size: 1.25vw;
	margin: 2vw 15vw 1vw 15vw;
	text-align: justify;
	text-indent: 2vw;
}

.legenda{
	font-size: 1vw;
	font-style: italic;
	margin-bottom: 1vw;
}

.audio{

}

li {
    list-style-type: none;
    margin: 0 0 2vw 0;
	font-size: 1vw;
  }


a {
	text-decoration: none; /* retira o sublinhado do link */
	color: black;
}

.audio-controls {
    display: flex;
    align-items: center;
}

.play, .pause {
    width: 50px; /* Define largura dos botões */
    height: 30px; /* Define altura dos botões */
    margin: 0 5px;
}

.seek {
    width: 200px; /* Largura do controle deslizante */
}