body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

body {
    background: url('../img/UFABC.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.banner-img {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.banner-img img{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.banner-text {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.banner h1 {
    margin: 0;
    font-size: 2em;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.content-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    min-height: 80%;
}

.content-block img{
    border-radius: 1em;
    height: 20vw;
}

.block-text {
    font-size: 1em;
    padding-left: 1em;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 0.9em;
}
